html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** End CSS RESET *****************/

body {
	margin: auto;
	font-family: 'Raleway';
	color: #000000;
	
text-align: center;
	}

h1{
	text-align: center;
	font-family: 'Raleway';
	font-variant: small-caps;
	color: black;
	font-size: 35pt;
	padding: 10px;
	margin-top: 20px;

}

	nav{

		background-color: #C0C0C0;
		height: 100%;
		padding:10px;

	}

	nav li {
		display: inline;
		font-size: 24pt;
		margin-left:20px;


text-align: right !important;
font-family: 'Raleway';
	padding: 8px;
	}

	nav a{

		text-decoration: none;
			text-align: center !important;
			margin-left: 20px;
			color:white;

	}

	section{
		width:100%;
		height:300px;
		text-align: center;
		margin: auto;
		background-size: cover;
		background-image: url("hu.jpeg");

	}

	section p{

		text-align: center;
		padding-top: 100px;
		font-family: sans-serif;
		font-size: 50px;

	}


#q{
	position: absolute;
	left:350px;
margin-top:20px;
font-family: 'Raleway';
font-size: 20pt;

float:left;


}

#q p{
margin-top: -110px;
color:white;
}



#p{
	position: absolute;
	left:800px;
margin-top:20px;
font-family: 'Raleway';
font-size: 20pt;

float:left;


}

#p p{
margin-top: -110px;
color:white;
}

footer{
	background-color: lightgrey;
	position: absolute;
	bottom: -150px;
	text-align: center;
	width: 100%;
	font-size: 20pt;
	padding:20px;
	margin-top: 40px;
	text-decoration: none;
	height:10px;
	color:white;
}
footer a{
	text-decoration: none;
	color:white;
	margin-left: 20px;
}

nav a:hover{
	color: white;
	background-color: orange;
	padding: 7px;
}

footer a:hover{
	color: orange;
}
